p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #080881;
  text-align: center;
}

.paragraphs-project-explanation{
  width: 30%;
  height: 60%;
  padding: 1rem;

  margin-left: 10%;
  position: absolute;
  top: 53%;
  -ms-transform: translateY(-40%);
  transform: translateY(-30%);
}

.content{
  width: 80%;
  height: 70%;
  border-radius: 1rem;
  background: rgb(235, 223, 223);
  display: inline-block;
  margin: 0 auto;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-40%;
  margin-top:-16%;
}

img{
  max-width: 15rem;
  max-height: 20rem;
  width: auto;
  height: auto;
  margin-left: 16%;
  margin-top: 3%;
}